.wrap {
  padding: 2em;
  opacity: .975;
}

.date,
.eaddress {
  font-size: 0.75em;
}

h4 {
  font-size: 3em;
}

.comments {
  font-size: 1.5em;
}

body {
  background-image: url('https://i.redd.it/p1n7m9svjt1y.jpg');
  background-size: cover;
  max-height: 100vh;
}
